
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: #2E94B9;
  color: #FFF;
}

a {
  color: #FFF;
}

.banner {
  margin-top: 14rem;
}
